html *{
  list-style: none;
}

.body {
  font-family: "Open Sans", sans-serif;
  color: #292727;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  transition: all ease-in-out .5s;
  z-index: 9997;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 160px;
  background-color: #686868;
  border: 4px solid #686868;
  border-radius: 50%;
}

#header .profile h1 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  font-family: Poppins, sans-serif;
}

#header .profile .social-links a {
  font-size: 22px;
  text-decoration: none;
  display: inline-flex;
  color: #fff;
  width: 36px;
  height: 36px;
  transition: .3s;
  align-items: center;
  justify-content: center;
}

#header .profile .social-links a:hover {
  color: rgb(129, 129, 129);
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}

.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu a:hover{
  color:  rgb(129, 129, 129);
}

.nav-menu a:active{
  color:  rgb(129, 129, 129);
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: .3s;
  font-size: 18px;
  text-decoration: none;
}

.nav-menu ul{
  list-style: none;
}


.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all .4s;
  outline: 0;
  background-color: #000000;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  background: #000;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all .4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#home {
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#home h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: rgb(129, 129, 129);
}

#typed, #typed-strings, #typo {
  color: rgb(129, 129, 129);
  margin-bottom: 50px;
  font-size: 26px;
  font-family: Poppins, sans-serif;
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #typed, #typed-strings, #typo {
    font-size: 16px;
  }
}

#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  padding-top: 60px;
}

#footer .copyright {
  text-align: center;
}

/*-- <<<< HEADINGS & TEXT >>>> --*/

.sub-title{
  font-weight: 600;
  color:  rgb(129, 129, 129);
}

.sub-title-text{
  font-size: 18px;
}

/*-- <<<< SECTION >>>> --*/

section{
  padding: 40px 0px;
}

/*-- <<<< ABOUT >>>> --*/

#about{
  padding-left: 28px;
  padding-right: 28px;
}

.about-row{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 28%;    
}

.about-col-1 img{
  width: 100%;
}

.about-col-2{
  flex-basis: 68%;
}

.about-col-2 h4{
  color:  rgb(129, 129, 129);
  font-size: 24px;
}

.arow{
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.arow ul li{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.arow ul strong{
  margin-right: 10px;
}

.acol-1{
  flex-basis: 50%;
}

.acol-2{
  flex-basis: 50%;
}

@media (max-width: 1024px) {
  .about-col-1,.about-col-2,.acol-1,.acol-2{
    flex-basis: 100%;
    padding-bottom: 10px;
  }

  .acol-1 img, .acol-2 img{
    width: 380px !important;
  }
}

/*-- <<<< RESUME >>>> --*/

#resume{
  padding-top: 0px;
  padding-left: 28px;
  padding-right: 28px;
}



/*-- <<<< PROJECTS >>>> --*/

#projects{
  padding-top: 0px;
  padding-left: 28px;
  padding-right: 28px;
}

.prow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.pcol-1 {
  flex-basis: 50%;
}

.pcol-1 img,.pcol-2 img {
  width: 88%;
  border-radius: 15px;
}

.pcol-2 {
  flex-basis: 50%;
}

@media only screen and (max-width: 800px) {

  .pcol-1,
  .pcol-2 {
      flex-basis: 100%;
      padding: 10px;
  }

  .pcol-1 img,.pcol-2 img {
    width: 100%;
    border-radius: 15px;
  }

}

/*-- <<<< MY WORK >>>> --*/

#mywork{
  padding-top: 0px;
  padding-left: 28px;
  padding-right: 28px;
}

.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0%;
  color: #fff;
  background: linear-gradient(rgb(0, 0, 0), #ff0000);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: rgb(129, 129, 129);
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;    
}
.work:hover img{
  transform: scale(1.1);

}
.work:hover .layer{
  height: 50%;
}

/*-- <<<< CONTACT >>>> --*/

#contact{
  padding-top: 0px;
  padding-left: 28px;
  padding-right: 28px;
}



.popup-background {
  display: none; /* Hidden by default */
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); /* Black with transparency */
  justify-content: center; 
  align-items: center; 
}

/* Style for the popup box */
.popup-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Style for the close button */
.close-btn {
  background-color:  rgb(129, 129, 129);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}